*.o
*.lo
*.la
.deps
.libs
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.*
configure
confdefs.h
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-*
aiksaurus.spec
base/aiksaurus
base/aiksaurus-1.0.pc
base/caiksaurus
gtk/src/gaiksaurus
gtk/gaiksaurus-1.0.pc