aclocal.m4
aiksaurus.spec
autom4te.cache
base/aiksaurus
base/aiksaurus-1.0.pc
base/caiksaurus
CommandLineDemo
confdefs.h
config.*
config.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
.deps
gtk/gaiksaurus-1.0.pc
gtk/src/gaiksaurus
install-sh
InteractiveDemo
*.la
.libs
libtool
*.lo
ltmain.sh
Makefile
Makefile.in
missing
mkinstalldirs
*.o
stamp-*
stamp-h
stamp-h1
gaiksaurus.desktop
gaiksaurus.desktop.in
po/POTFILES
po/Makefile.in.in
